*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    width: 100%;

}
.wow{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box{
    height: 200px;
    width: 300px;
    background-color: rgb(230, 155, 112);
   border-radius: 10px;
}
button{
    padding: 10px  20px;
   margin: 20px;
   background-color: red;
   font-weight: 600;
  
   border: none;
   border-radius: 10px;
   cursor: pointer;
   
   
   

}
button:active{
    scale: 0.95;
}